.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}
#root {
  height: 100%;
}

.full-container {
  height: 100%;
}

main {
  height: 88.4%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: -10;
  background-color: #D9D9D9;
  border-top: 2px solid #6E7AE7;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
